<?xml version="1.0" encoding="utf-8"?>
<!-- Debug build only: the emulator test serves an update from the test machine (see ci/emulator-test.sh). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:networkSecurityConfig="@xml/network_security_config" />
</manifest>
